* {

}


body {
    background-image: url("../img/background_img1.jpeg");
    color: white;
}

.block1 {
    height: 50vh;
}

.block2 {
    background-size: cover;
    background: tan url("../img/background_img9.jpg") center;
    border-top: cornflowerblue solid 5px;
    border-radius: 10px;
    height: 50vh;
}

.block3 {
    background-size: cover;
    background: cornflowerblue url("../img/backgound_img10.jpg") center;
    border-top: tan solid 5px;
    border-radius: 10px;
    height: 50vh;
}

footer {
    background-color: black;
    color: white;
}

nav {
    background-image: url("../img/navbar_img4.jpg");
    background-size: cover;

}

.program-logo{
    width: 80%;
    max-width: 200px;
    object-fit: cover;
    margin-top: 1em;
}

.java-logo{
    border-radius: 5em;
}

.lang-block{
    background-color: cornflowerblue;
    font-size: 2em;
    width: 95%;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border-radius: 10px;
}


/*
   media screens

 Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)
 */

@media screen and (min-width: 576px) {

}

/*
   Medium devices (tablets, 768px and up)
*/

@media screen and (min-width: 768px) {


}

/*
   Large devices (desktops, 992px and up)
*/

@media screen and (min-width: 992px) {

}

/*
   Extra large devices (large desktops, 1200px and up)
*/

@media screen and (min-width: 1200px) {


}




